<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Test</title>

    <!-- This is a development version of Vue.js! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- import es6 module in main.js -->
    <script src="main.js" type="module"></script>

    <!-- import stylesheet -->
    <link rel="stylesheet" href="styles.css">

</head>
<body>

<!-- Basic usage -->
<div id="app-basic"
     v-bind:title="timestamp"
     class="experiment-block">
    {{ message }}
</div>

<!-- Loops -->
<div id="app-loops"
     class="experiment-block">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<!-- OnClick -->
<div id="app-onclick"
     class="experiment-block">
    <span>{{ message }}</span>
    <button v-on:click="randomGenerate">Click me</button>
</div>

<!-- Data binding -->
<div id="app-model"
     class="experiment-block">
    <p>{{ value }}</p>
    <input v-model="value">
</div>

</body>
</html>