<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Test</title>

    <!-- This is a development version of Vue.js! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- import stylesheet -->
    <link rel="stylesheet" href="styles.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body>

<!-- Basic usage -->

<div id="app_basic" v-bind:title="timestamp" class="experiment-block">
    {{ message }}
</div>

<script>
    new Vue(
        {
            el: '#app_basic',
            data: {
                message: '🐵 Hello World 🔮',
                timestamp: `Timestamp ${new Date().toLocaleString()}`,
            },
        });
</script>

<!-- Loops -->

<div id="app_loops" class="experiment-block">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<script>
    new Vue(
        {
            el: '#app_loops',
            data: {
                todos: [{
                    text: 'Learn JavaScript',
                },
                    {
                        text: 'Learn Vue',
                    },
                    {
                        text: 'Build something awesome',
                    },
                ],
            },
        });
</script>

<!-- OnClick -->

<div id="app_onclick" class="experiment-block">
    <span>{{ message }}</span>
    <button v-on:click="randomGenerate">Click me</button>
</div>

<script>
    new Vue(
        {
            el: '#app_onclick',
            data: {
                message: "Click me (random number generate)",
            },
            methods: {
                randomGenerate() {
                    this.message = Math.random();
                },
            },
        });
</script>

<!-- Data binding -->

<div id="app_model" class="experiment-block">
    <p>{{ value }}</p>
    <input v-model="value">
</div>

<script>
    new Vue(
        {
            el: '#app_model',
            data: {
                value: "Some string data",
            },
        });
</script>

</body>

</html>
